body {
  color: #757575;
  background-color: #ffffff;
}
.list {
  list-style: none;
}

.nav__logo_span {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}
.nav__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
/* site-nav */
.link {
  color: #212121;
}

.link:hover,
.link:focus {
  color: #2196f3;
}
.nav__link-activ {
  color: #2196f3;
}
.contact__link {
  color: #757575;
}
/* герой */
.hero {
  background-color: #2f303a;
}
.title {
  color: white;
}

/* Розмітка футера */
.address__footer {
  font-style: normal;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
}
.address__about {
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
}
.footer__logo {
  color: #ffffff;
}
