:root {
  --primary-tex-color: #757575;
  --title-tex-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --background-color: #2f303a;
}
body {
  color: var(--primary-tex-color);
  background-color: #ffffff;
}
/* =======Кольори======= */
/* колір основного тексту  #757575*/
/* колір вторинного тексту #212121  */
/* білий #FFFFFF */
/* акцентний колір #2196f3 */
/* вторинний колір  #F5F4FA */

/* =======код відключання======= */
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =======Логотип======= */

.nav__logo_span {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.nav__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
/* =======розмітка Хедера======= */
.link {
  color: var(--title-tex-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.nav__link-activ {
  color: var(--accent-color);
}
.contact__link {
  color: var(--primary-tex-color);
}
/* =======розмітка героя======= */

.hero {
  background-color: var(--background-color);
}
.hero__title {
  color: var(--white-text-color);
}
.hero__button {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}

/* =====Розмітка Features===== */

.title {
  color: var(--title-tex-color);
}
/* =======Розмітка наша команда======== */
.our-team {
  background-color: #f5f4fa;
}
/* =====Розмітка Футера===== */

.address__footer {
  font-style: normal;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
}
.address__about {
  color: var(--white-text-color);
}
.footer {
  background-color: var(--background-color);
}
.footer__logo {
  color: var(--white-text-color);
}
/* =======кнопки портфоліо======= */
.portfolio__button {
  background-color: #f5f4fa;
  color: var(--title-tex-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}
.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
